cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.2
pkg-resources==0.0.0
PyAudio==0.2.11
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==12.7.0
pyqtgraph==0.10.0
python-dateutil==2.8.0
six==1.12.0
